.widget-heading{
    margin-top: 8px;
}

.imgr{
    width: 99px;
    height: 55px;
    float: right;
    margin-left: 35px;
}

.tit{
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
}

.cardb{
    padding-top: 0px;
    
}
.card{
    margin-top: 5px;
}

.but{
    padding: 1.25rem;
    color: #8a858d;
    display: flex;
    justify-content: space-around;
    font-weight: 300;
    padding-bottom: 0px ;
   
}
