.navbar {
  background-color: #fff !important;
}
.dropWhite {
  color: #fff !important;
}
.textGray {
  color: grey;
  font-size: 20px;
}

.bgBlue {
  background-image: linear-gradient(
    to right bottom,
    #176ede,
    #0085dc,
    #0093e0,
    #00a0e3,
    #25ade5
  );
  padding-top: 5%;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.bgWhite {
  background-color: white;
  display: -webkit-inline-box;
  padding-left: 20px !important;
}
.rightTrend {
  color: black;
  float: right;
}

/* .input-group>.form-control
{
    height: 100%;
    border-color: #fff !important;
}
.input-group
{
    height: 100%;
    border: none !important;
} */
.headerS {
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin: auto;
  text-align: center;
}
.compDets_navBtn {
  background-color: #1077d6;
  color: #fff !important;
}
.compDets_jumbotron {
  background-image: url("https://d8it4huxumps7.cloudfront.net/images/opportunity_banner/d2c-jobs/job_17.jpg?d=1280x371");
  height: 65vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  border-bottom: 4px solid #176ede;
  margin-bottom: 0px !important;
}
.compDets_pentablue {
  position: absolute;
  right: 35%;
  width: 114px;
  height: 30px;
  background: #176ede;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  padding-top: 10px;
  color: #fff;
  font-weight: 600;
  text-transform: capitalize;
}
.compDets_pentablue::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -8px;
  left: 0;
  border-left: 57px solid transparent;
  border-right: 57px solid transparent;
  border-top: 8px solid #176ede;
  right: 0;
  margin: auto;
  width: 0;
}
/* 1200-applyDiv ,992-compDets_colinfo*/

/* FOOTER */
.compDets_Footer {
  position: relative;
  bottom: 0 !important;
}
.compDets_FooterTop {
  background-color: #263238;
  color: #e5dada;
  position: relative;
}
.compDets_FooterBottom {
  background-color: #263238;
  border-top: 1px solid #e5dada;
  color: #e5dada;
  position: relative;
  padding: 15px;
}

.compDets_FooterTopIconsDiv {
  text-align: center;
  margin: auto;
  font-size: 35px !important;
  padding: 5px 10px;
}
.compDets_center {
  display: flex;
}
.compDets_FooterTopIMenuDiv {
  display: -webkit-inline-box;
  text-align: center;
  margin: 0 auto !important;
  position: relative;
  justify-content: center;
}
.compDets_FooterTopIMenu {
  text-align: center;
  padding: 5px 10px;
  font-size: 20px;
  font-weight: 600;
  justify-content: center;
  margin: 0 auto !important;
}
.compDets_FooterTopIcons {
  padding: 5px 10px;
  font-size: 40px !important;
  width: auto !important;
}

@media (max-width: 600px) {
  .compDets_FooterTopIMenu {
    font-size: 14px;
  }
}
