* {
  outline: 0;
}

.search-form {
  position: relative;
}

.search-box {
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(19, 74, 159, 0.15);
  background: #fff;
  border: none;
  height: 50px;
  width: 640px;
  font-size: 14px;
  color: #000;
  padding: 0 45px 0 15px;
  box-sizing: border-box;
  margin: 0;
}

.search-button {
  position: absolute;
  right: 10px;
  font-size: 20px;
  color: #999;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 22px;
}

.search-box:focus {
  outline: none !important;
}

.filter-link {
  display: none;
}

.sidenav {
  display: none;
}

@media (max-width: 600px) {
  .filter-link {
    display: flex !important ;
    width: 40px;
    height: 40px;
    box-shadow: 0 2px 5px rgba(19, 74, 159, 0.1);
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-top: 6px;
    border: none;
  }

  .search-container {
    display: inline-flex;
  }

  .search-form {
    margin-left: 5px;
  }
}
